{% extends 'base.html.twig' %}

{% block title %}password_reset
{% endblock %}

{% block body %}
	<section class="">
		<div class="">
			<div class="">
				<h1>password_reset</h1>
				{{ form_start(requestPassForm) }}
                    {{form_row(requestPassForm)}}
					<button class="" type="submit">
				{{ form_end(requestPassForm) }}
						submit
					</button>
				</div>
			</div>
		</section>
	{% endblock %}
