{% extends 'base.html.twig' %}

{% block title %}password_reset
{% endblock %}

{% block body %}
	<section >
		<div >
			<div >
				<h1>password_reset</h1>
				{{ form_start(passForm) }}
                    {{form_row(passForm)}}
					<button class="" type="submit">
				{{ form_end(passForm) }}
						submit
					</button>
				</div>
			</div>
		</section>
	{% endblock %}
