{% extends 'base.html.twig' %}

{% block title %}Administration product{% endblock %}

{% block body %}

<section class="example-wrapper">
    <h1>Administration</h1>

    <div>
        <a class="link" href="{{path('app_admin_product_index')}}">Product Admin</a>
    </div>
   
</section>
{% endblock %}