* {
  margin: 0;
  padding: 0;
}

.theme-dark {
  all: initial !important; /*brave m'embete*/
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #ddd;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #eee;
}

button, input.submit{
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #111;
  color: #eee;
  border: solid 2px #111;
  box-sizing: border-box;
}

button:hover, input:hover{
  background-color: #111;
  color: #eee;
  border: solid 2px #333;
}

button:hover{
  background-color: #111;
  border: solid 2px #999;
}

label{
  color: #ddd;
}

a {
  color: brown;
  text-decoration: none;
}

a.link{
  background-color: #333;
  padding: 5px;
  border-radius: 5px;
  color: #ddd;
}

a.link:hover{
  background-color: #444;
}

a.link:active{
  background-color: #555;
}

.space{
  margin: 20px;
}

nav {
  position: sticky;
  /* background: linear-gradient(to bottom, grey, rgba(211, 211, 211, 0)); */
  top: 0;
  padding: 10px;
  background-image: linear-gradient(
      to bottom,
      #222,
      rgba(255, 255, 255, 0) 20px
    ),
    linear-gradient(to bottom, #222, #222 20px, transparent 20px, transparent);
}

.nav-pos {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
}

nav h4{
  color: #111;
  text-decoration: none;
  padding: 14px 16px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 14px 16px;
}

nav a:hover {
  background-color: #111;
}

#toggle-element{
  display: flex;
  flex-wrap: wrap;
  background-color: #444;
  align-items: center;
  height: 45px;
}

.toggle-element-child{
  flex: 1;
}

.cara-icons{
  height: 20px;
  width: 20px;
  color: white;
}


/*main*/

main {
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

.card-WC{
  display: flex;
  flex-direction: row;
  margin: 15px;
  border: solid #111 2px;
  border-radius: 15px;
  overflow: hidden;
  background-color: #111;
}

.card-WC a{
  color: #eee;
}

.card-WC *{
margin: 0;
}
.card-WC div.txt{
 margin-left: 10px;
}

.container-grid-4{
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: auto;
grid-gap: 15px;
}

/*x*/

.card-x{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: #ddd solid 1px;
}

.link-x{
  display: inline-block;
  min-width: 150px;
  text-align: center;
}

@media (min-width: 1200px) {
  /* Mettez vos styles ici */
  body {
    font-size: 16px;
  }
  section {
    width: 1140px;
  }
}

@media (min-width: 780px) and (max-width: 1200px) {
  /* Mettez vos styles ici */
  body {
    font-size: 14px;
  }
  section {
    width: 720px;
  }
}

@media (max-width: 780px) {
  /* Mettez vos styles ici */
  body {
    font-size: 12px;
  }
  section {
    min-width: 360;
    width: auto;
  }
}
