{% extends 'base.html.twig' %}

{% block title %}Administration product add{% endblock %}

{% block body %}

<section>
    <h1>Administration product add</h1>

    {% include "admin/product/_form.html.twig" %}
</section>
{% endblock %}
