{% extends 'base.html.twig' %}

{% block title %}{{categorie.name}}{% endblock %}

{% block body %}

        <section class="">
            <div class="">
                <h1>Details of {{categorie.name}}</h1>
            </div>
            <div class="">
                {% for product in categorie.products %}
                <div>
                    <a href="{{ path('app_productdetails', {slug: product.slug}) }}">{{product.name}}</a>
                </div>
                {% endfor %}
            </div>
        </section>

{% endblock %}
